# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

*Some of the popular languages that Data Scientists use are:*
1.   Python
2.   R
3. Java

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Scikit-lear

| Data Science Tools |
| --- |
| Apache Spark |
| Python |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives: List popular languages for Data Science**
* Python
* R
* Java

## Author